.container {
    width: 100%;
    border: 1px solid red;
}

.days-area {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.day {
    min-width: 180px;
    min-height: 180px;
    border: 1px solid black;
    margin: .2rem;
}

.day .day-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin: 0.5rem;
    width: 40px;
    height: 40px;
}

.day .current-day {
    background-color: #1A73E8;
    border-radius: 50%;
    color: #fff;

}