<div className="container">
    <div class="paginator-area">
        <app-paginator
            label="Month"
            [value]="month"
            [nextFlag]="EVENT_TYPE.NEXT_MONTH"
            [previousFlag]="EVENT_TYPE.PREVIOUS_MONTH"
        ></app-paginator>
        <app-paginator
            label="Year"
            [value]="year"
            [nextFlag]="EVENT_TYPE.NEXT_YEAR"
            [previousFlag]="EVENT_TYPE.PREVIOUS_YEAR"
        ></app-paginator>
        <!-- <div class="paginator">
            <button mat-icon-button color="primary" (click)="previousMonth()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <div class="input-area">
                <label for="" class="label-input">Month</label>
                <input readonly [value]="month" class="month-input" type="number" placeholder="Month" />
            </div>
            <button mat-icon-button color="primary" (click)="nextMonth()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
        <div class="paginator">
            <button mat-icon-button color="primary" (click)="previousYear()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <div class="input-area">
                <label for="" class="label-input">Year</label>
                <input readonly [value]="year" class="month-input" type="number" placeholder="Year" />
            </div>
            <button mat-icon-button color="primary" (click)="nextYear()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div> -->
    </div>
    <div class="days-area">
        <div class="day" *ngFor="let day of days">
            <p [ngClass]="{'day-label': true, 'current-day': currentDate.getDate() === day && currentDate.getMonth() + 1 === month && currentDate.getFullYear() === year}">{{day}}</p>
        </div>
    </div>
</div>
