<div className="container">
    <div class="paginator-area">
        <app-paginator
            label="Month"
            [value]="month"
            [nextFlag]="EVENT_TYPE.NEXT_MONTH"
            [previousFlag]="EVENT_TYPE.PREVIOUS_MONTH"
        ></app-paginator>
        <app-paginator
            label="Year"
            [value]="year"
            [nextFlag]="EVENT_TYPE.NEXT_YEAR"
            [previousFlag]="EVENT_TYPE.PREVIOUS_YEAR"
        ></app-paginator>
    </div>
    <div class="days-area">
        <div class="day" *ngFor="let item of daysWithAppointments">
            <p 
                [ngClass]="{'day-label': true, 'current-day': currentDate.getDate() === item.day && currentDate.getMonth() + 1 === month && currentDate.getFullYear() === year}"
            >
                {{item.day}}
            </p>

            <div class="appointments-list">
                <div *ngFor="let appointment of item.appointments" class="appointment-item">{{appointment.title}}</div>
            </div>
        </div>
    </div>
</div>
