.container {
    width: 100%;
}

.days-area {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.day {
    min-width: 180px;
    min-height: 180px;
    border: 1px solid #dddddd;
    margin: .2rem;
    padding: .3rem;
}

.day .day-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin: 0rem;
    width: 30px;
    height: 30px;
}

.day .current-day {
    background-color: #1A73E8;
    border-radius: 50%;
    color: #fff;
}

.paginator-area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

.paginator {
    padding:  1rem 2rem;
    display: flex;
    align-items: center;
}

.month-input {
    padding: .5rem;
    border-radius: 6px;;
    border: 1px solid #1d1d1d;
    outline: none;
    margin: 0 .2rem;
}

.label-input {
    margin-right: 3px;
    font-weight: 700;
}


.appointments-list {
    height: 90px;
    overflow: auto;
}

.appointments-list .appointment-item {
    background-color: #1A73E8;
    padding: 6px;
    border-radius: 6px;
    margin: 6px 0;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    display: block;
}