.paginator {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.month-input {
    padding: .5rem;
    border-radius: 6px;
    ;
    border: 1px solid #1d1d1d;
    outline: none;
    margin: 0 .2rem;
}

.label-input {
    margin-right: 3px;
    font-weight: 700;
}