.area-appointment {
    background-color: #1A73E8;
    padding: 1rem;
    width: 100%;
    height: 100%;
    color: #fff;
}

.button-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    display: block;
    margin-top: 1rem;
}